// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    match app-id=r#"edge$"#
    match title=r#"Blender"#
    match app-id=r#"Slicer$"#
    match app-id=r#"code$"#
    match app-id=r#"firefox$"#
    match app-id=r#"STM32"#
    match app-id=r#"mpv"#
    match app-id=r#"kdenlive"#
    match app-id="app.zen_browser.zen" title=r#"Zen Browser"#
    match app-id="org.kde.kolourpaint"
    default-column-width { proportion 0.66667; }
}
window-rule {
    match title=r#"DevTools"#
    match app-id="app.zen_browser.zen" title=r#"Narzędzia dla programistów"#
    match title=r#"Preferences"#
    default-column-width { proportion 0.33333; }
}
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}
window-rule {
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^xdg-desktop-portal$"#
    open-floating true
}
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    match app-id=r#"konsole"#
    draw-border-with-background false
}
window-rule {
    match app-id=r#"konsole"# title=r#"profil"#
    match app-id=r#"konsole"# title=r#"barw"#
    open-floating true
    default-window-height { proportion 0.6; }
}

window-rule { 
    match is-active=false
    opacity 0.95
}
window-rule {
    match app-id="spotify"
    match app-id="Spotify"
    opacity 0.9
}
window-rule {
    match app-id="spotify" is-active=false
    match app-id="Spotify" is-active=false
    opacity 0.85
}
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
window-rule {
    match app-id="app.zen_browser.zen" title="Obraz w obrazie"
    default-column-width { proportion 0.33333; }
    default-window-height { proportion 0.5; }
    opacity 1.0
    open-floating true
}
window-rule {
    match title=r#".+YouTube"#
    opacity 1.0
}
